
fieldset, img {
    border: 0;
    padding: 0;
    margin: 0;
}
button {
    border: 0;
    background: 0;
    cursor: pointer;
    box-shadow: none;
}
.ico_cafe {
    display: inline-block;
    overflow: hidden;
    background: url(https://ssl.pstatic.net/static/m/cafe/mobile/sp_cafe2_x2_190510.png) no-repeat;
    vertical-align: top;
    background-size: 200px 200px;
    -webkit-background-size: 200px 200px;
}
.hd_cafe_v2 {
    position: relative;
    top: 0;
    width: 100%;
    height: 47px;
    background-color: #2080b9;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    text-align: center;
    z-index: 2;
}
.hd_cafe_v2 .h_tit {
    overflow: hidden;
    display: inline-block;
    position: relative;
    max-width: 60%;
    margin: 15px auto 0;
    font-size: 19px;
    line-height: 18px;
    color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;
    font-weight: 500;
    font-family: HelveticaNeue;
}
.hd_cafe_v2 .btns_left {
    position: absolute;
    top: 14px;
    left: 15px;
}
.hd_cafe_v2 .btn {
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 17px;
    height: 18px;
    line-height: 18px;
    font-size: 16px;
    color: #fff;
}
.hd_cafe_v2 .btns_left .btn {
    position: static;
    display: inline-block;
    left: auto;
    margin-right: 10px;
    vertical-align: top;
}
.hd_cafe_v2 .btns_left .btn>i {
    font-size: 24px;
}
.hd_cafe_v2 .btn_prev:after, .hd_cafe_v2 .btn_close:after {
    display: block;
    content: '';
    position: absolute;
    top: -6px;
    left: -9px;
    width: 30px;
    height: 30px;
}
.hd_cafe_v2 .btn_close:after {
    left: -8px;
}
.hd_cafe_v2 .btns_right {
    position: absolute;
    top: 14px;
    right: 15px;
}
.hd_cafe_v2 .btns_right .btn {
    position: static;
    display: inline-block;
    right: auto;
    margin-left: 10px;
    vertical-align: top;
    font-weight: 600;
}
.nav_v2 .btn_join, .hd_cafe_v2 .btn_next, .hd_cafe_v2 .btn_create, .hd_cafe_v2 .btn_confirm, .hd_cafe_v2 .btn_tempsave, .hd_cafe_v2 .btn_tempsave_link, .hd_cafe_v2 .btn_mycafe {
    left: auto;
    right: 14px;
    width: auto;
    background: 0;
}
.wrap_profile_set {
    position: relative;
    margin-top: -46px;
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wrap_profile_set .info_set:first-of-type {
    padding-top: 55px;
}
.wrap_profile_set .info_set .tit {
    font-weight: 500;
    font-size: 16px;
}
.wrap_profile_set .info_set .txt {
    padding: 2px 0 5px;
    font-size: 13px;
    line-height: 1.3;
    color: #999;
}
.list_profile_type {
    border-bottom: 1px solid #ededed;
}
.list_profile_type li {
    position: relative;
    padding: 10px 0;
    border-top: 1px solid #ededed;
}
.list_profile_type .link_thumb {
    float: left;
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}
.ico_cafe {
    display: inline-block;
    overflow: hidden;
    background: url(https://ssl.pstatic.net/static/m/cafe/mobile/sp_cafe2_x2_190510.png) no-repeat;
    vertical-align: top;
    background-size: 200px 200px;
    -webkit-background-size: 200px 200px;
}
.list_profile_type .ico_photo {
    overflow: hidden;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    width: 19px;
    height: 19px;
    background-position: -60px 0;
}
.list_profile_type .link_thumb .inp_file {
    display: block;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    opacity: .01;
}
.list_profile_type .link_thumb {
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 70%;
    overflow: hidden;    
}
.list_profile_type .link_thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.list_profile_type .lab_chk {
    display: block;
    overflow: hidden;
    float: none;
    width: auto;
    height: 50px;
}
.list_profile_type .inner {
    display: table;
    height: 100%;
}
.list_profile_type .ico_chk {
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    width: 30px;
    height: 30px;
    margin-top: -14px;
    background-position: -30px -20px;
}
.list_profile_type .inner .txt {
    display: table-cell;
    font-size: 16px;
    color: #666;
    line-height: 19px;
    vertical-align: middle;
}
.wrap_profile_set .info_set {
    padding: 40px 0 7px;
}
.wrap_profile_set .info_set .tit {
    font-weight: 500;
    font-size: 16px;
}
.wrap_profile_set .info_set .txt {
    padding: 2px 0 5px;
    font-size: 13px;
    line-height: 1.3;
    color: #999;
}
.wrap_profile_set .box_nick {
    position: relative;
    border: 1px solid #e8e8e8;
}
.wrap_profile_set .box_nick .inp_nick {
    width: 100%;
    padding: 12px 36px 12px 10px;
    border: 0 none;
    font-size: 17px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wrap_profile_set .box_nick .btn_del {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    background-position: -80px 0;
}
.wrap_profile_set .txt_nick {
    display: block;
    padding-top: 10px;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.3;
    color: #03c75a;
}
.wrap_profile_set .box_btns {
    width: 100%;
    padding: 20px 0 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wrap_profile_set .box_btns .btn_submit {
    display: block;
    width: 100%;
    height: 50px;
    font-size: 17px;
    color: #fff;
    border-radius: 6px;
    background-color: #2080b9;
}